# git-ignore file
# split into default python and project-specific sections

###############################################################################
# Project-Specific

# scratch folder
scratch/

# _old
**/_old


# docs
source/astroPHD*

# # just to make sure
# !source/conf.py
# !source/README.md
# !source/index.rst
# !source/modules.rst

###############################################################################
# Default


